.venv/*
.vscode
references
todo.md
paper/paper.aux
paper/paper.bbl
paper/paper.blg
paper/paper.fdb_latexmk
paper/paper.fls
paper/paper.log
paper/paper.out
paper/paper.synctex.gz
build
scripts/__pycache__
tests/__pycache__
reviews/review-indexed.pdf
reviews/~$view-indexed.docx
reviews/review-indexed.docx
paper/WRENG-7643R1-source.zip
